# Danger Area Predictor

[** The Global Terrorism Dataset**](https://www.kaggle.com/START-UMD/gtd) provides us with the information with all the Terrorist Attacks all over world between 1970-2016. It gives very detailed information about the attack like Date, Place, Country, City, Region, Attacktype, Target of Terrorists and Terrorist organizations involved.

Here our aim is to take the GPS location of the user and alert him if he is in a *Danger Area* or in a *Safe area*, and if he is in a danger area, then which country and what is the nearby danger prone area.

In [1]:
import pandas as pd
import numpy as np
import plotly.plotly as py
import plotly
from plotly.graph_objs import *

##### Here the dataset is imported. And required columns are imported

In [2]:
gtd = pd.read_csv('gtd_new.csv',usecols=[1,2,3,8,10,12,13,14],low_memory=False,header=0)
gtd = gtd.dropna(axis=0, how = 'any')

In [3]:
df_2016 = gtd[gtd['iyear']==2016]
df_2016.head()

,iyear,imonth,iday,country_txt,region_txt,city,latitude,longitude
62100,2016,1,1,Iraq,Middle East & North Africa,Baghdad,33.325091,44.422353
62101,2016,1,1,Iraq,Middle East & North Africa,Baghdad,33.389934,44.460652
62102,2016,1,1,Iraq,Middle East & North Africa,Baghdad,33.223512,44.434701
62103,2016,1,1,India,South Asia,Pathankot,32.268717,75.655513
62104,2016,1,1,India,South Asia,Kathlore,32.244186,75.434659

In [4]:
df_2015 = gtd[gtd['iyear']==2015]
df_2015.head()

,iyear,imonth,iday,country_txt,region_txt,city,latitude,longitude
46209,2015,1,3,Iraq,Middle East & North Africa,Baghdad,33.349705,44.514869
46897,2015,1,1,Bosnia-Herzegovina,Eastern Europe,Trnovi,45.183961,15.828342
47249,2015,1,1,Iraq,Middle East & North Africa,Baghdad,33.341992,44.276368
47250,2015,1,1,Sweden,Western Europe,Uppsala,59.857979,17.639822
47251,2015,1,1,Libya,Middle East & North Africa,Benghazi,32.116136,20.066488

In [5]:
df_2014 = gtd[gtd['iyear']==2014]
df_2014.head()

,iyear,imonth,iday,country_txt,region_txt,city,latitude,longitude
30389,2014,1,1,Colombia,South America,Convencion,8.868790,-73.194094
30390,2014,1,1,Somalia,Sub-Saharan Africa,Mogadishu,2.038353,45.342073
30391,2014,1,1,Pakistan,South Asia,Quetta,30.191332,67.003051
30392,2014,1,1,Pakistan,South Asia,Dera Bugti,29.033333,69.150000
30393,2014,1,1,Somalia,Sub-Saharan Africa,Buale,1.097128,42.598368

In [6]:
lat_2016 = df_2016['latitude']
lon_2016 = df_2016['longitude']

In [7]:
lat_2015 = df_2015['latitude']
lon_2015 = df_2015['longitude']

In [8]:
lat_2014 = df_2014['latitude']
lon_2014 = df_2014['longitude']

In [9]:
plotly.tools.set_credentials_file(username='Asutosh989', api_key='bdqfWrjiSHQF7t1M8euj')

In [10]:
country = df_2016['country_txt']
city = df_2016['city']

In [11]:
lat_l=list(lat_2016)
lon_l=list(lon_2016)
coord = []
for i in range(len(lat_l)):
    coord.append([lat_l[i],lon_l[i]])

In [12]:
from math import radians, cos, sin, asin, sqrt
def haversine(a,b):
    # convert decimal degrees to radians 
    km_l = []
    for i in range(len(b)):
        lat1,lon1,lat2,lon2 = a[0],a[1],b[i][0],b[i][1]
        lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
        dlon = lon2 - lon1 
        dlat = lat2 - lat1 
        x = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
        c = 2 * asin(sqrt(x)) 
        km = 6367 * c
        km_l.append("{0:.2f}".format(km))
    km_l.sort()
    return km_l

In [13]:
a = [18.564,89.5]
print(a)

[18.564, 89.5]

In [14]:
distance_actual = haversine(a,coord)

for o in range(len(distance_actual)):
    if (float(distance_actual[o])<500):
        f=1
        break
    else:
        f=0
if f==1:
    print("YOU ARE IN A DANGER AREA")
    print("You are in "+str(country[o+62100])+" country")
    print("Your nearby danger city is "+str(city[o+62100]))
else:
    print("YOU ARE SAFE")
    print(country)

YOU ARE IN A DANGER AREA
You are in Burundi country
Your nearby danger city is Bujumbura

In [15]:
mapbox_access_token = 'pk.eyJ1IjoiemVjdHJvc2FuIiwiYSI6ImNqN2QzamM2bjA1cXIzM3BkeXhlbnpjaHMifQ.h94ete_va3GUTxMFqKnLdg'

In [32]:
data = Data([
    Scattermapbox(
        lat=lat_2016,
        lon=lon_2016,
        mode='markers',
        marker=Marker(
            color='rgb(0, 0, 255)',
            size=10
        )
        
    ),Scattermapbox(
        lat=lat_2015,
        lon=lon_2015,
        mode='markers',
        marker=Marker(
            color='rgb(0, 255, 0)',
            size=10
        )
        
#     ),Scattermapbox(
#         lat=lat_2014,
#         lon=lon_2014,
#         mode='markers',
#         marker=Marker(
#             color='rgb(255,10, 0)',
#             size=10
#         )
        
#     ),
        Scattermapbox(
        lat=a[0],
        lon=a[1],
        mode='markers',
        marker=Marker(
            color='rgb(0, 0, 0)',
            size=30
        )
        
    )
])

layout = Layout(
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=a[0],
            lon=a[1]
        ),
        pitch=0,
        zoom=5
    ),
)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='Terror Mapbox')